<div class="text-field">
    <input
        class="text-field__input"
        name="{{name}}"
        id="{{id}}"
        type="{{type}}"
        placeholder="{{placeholder}}"
        required
        minlength="2"
    />
    <span class="text-field__error">Поле обязательно для заполнения</span>
    <lable class="text-field__label" for="{{name}}">{{label}}</lable>
</div>